.search {
	display: flex;
	justify-content: center;
	padding: 20px;

}

.both-articles {
	display: flex;
	justify-content: center;
	width: 25%;


}

/*.main-articles {
	justify-content: center;
	width: 500px;
	padding: 25px;
	border: 1px solid;
	margin-bottom: 20px;
}
*/
.img {
	width: 30px;
}

.side-articles {
	display: flex;
	justify-content: right;
}