.search {
	padding-left: 40px;
	padding-top: 10px;
	font-size: 40px;
}

.both-articles {
	display: flex;
	justify-content: space-between;
	padding: 40px;

}

.input-value {
	width: 25%;
	height: 30px;


}

.article-img {
	width: 400px;

}
/*
.side-articles {
	display: flex;
	justify-content: right;
}*/

.ind-article {
	width: 500px;
	padding: 50px;
	border: 1px solid;
	margin-bottom: 20px;
}